
body {
  margin: 0;
  user-select: none;
}

header {
  width: 100vw;
  height: 10vh;
  background-color: rgb(44, 107, 202);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.nav-link {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

/* Home page */
.home-container {
  background-image: url('./images/scene.webp');
  height: 90vh;
  padding: 15px 0 0 15px;
}

.home-container h1 {
  margin: 0;
}

.home-container span {
  font-weight: bold;
}

.shop-btn {
  background-color: rgb(44, 107, 202);
  width: 100px;
  height: 50px;
  cursor: pointer;
}

/* Shop Page */
.shop-page {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-page h1 {
  margin: 10px 0 20px 5px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}

.card {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.product-text {
  display: flex;
  justify-content: space-between;
  margin: 0 2px;
}

.card img {
  width: auto;
  height: 195px;
}

.card button {
  background-color: rgb(44, 107, 202);
  color: whitesmoke;
}

/* Cart Component */

.cart-page {
  margin: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-page button {
  background-color: rgb(44, 107, 202);
  color: whitesmoke;
}

.cart-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid 1px;
  max-width: 500px;
  height: 50px;
  margin: 0 0 5px 20px;
  padding: 0 5px;
}

.cart-field {
  width: 125px;
}

.cart-total {
  max-width: 500px;
  display: flex;
  gap: 50px;
  margin: 10px 0;
}