:root {
  --main-bg: white;
  --txt-light: whitesmoke;
  --txt-dark: black;
  --blue-bg: #2c6bca;
  --orange: orange;
}

body {
  margin: 0;
  font-family: arial;
  background-color: var(--main-bg);
  max-width: 1400px;
  margin: 0 auto;
}

button {
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 1px 1px black;
  color: var(--txt-light);
  background-color: var(--blue-bg);
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-weight: 700;
}
button:hover {
  color: var(--orange);
}

/**** HEADER & NAVBAR ****/

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--blue-bg);
  color: var(--txt-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  z-index: 1;
}

.logo {
  margin-left: 1rem;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--blue-bg);
}

.hamburger-icon {
  font-size: 3rem;
  margin-right: 1rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 486px) {
  .hamburger-icon {
    display: block;
  }
  .navbar {
    display: none;
  }

  }
.drop-nav-show {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: 0;
}

.nav-link {
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--txt-light);
  font-weight: 700;
  z-index: 1;
}
.nav-link:hover {
  color: var(--orange);
}

/**** HOME PAGE ****/

.home-container {
  color: var(--txt-light);
  position: relative;
}
.home-img-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100vh - 50px);
  object-fit: cover;
  z-index: -1;
}
.home-inner-container {
  padding: 2rem;
}

.home-page-h1::after {
  content: "";
  display: block;
  border-bottom: solid #aa0000;
  padding-bottom: 0.5rem;
  width: 140px;
}

.shop-link {
  cursor: pointer;
  font-size: 3rem;
  background-color: #000a;
  padding: 0.25rem;
}

.shop-link:hover {
  color: var(--orange);
}

/**** SHOP PAGE ****/

.shop-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop-page-h1::after {
  content: "";
  display: block;
  border-bottom: solid #aa0000;
  padding-bottom: 0.5rem;
  width: 140px;
  margin: 0 auto;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin-top: 2rem;
}

.card {
  margin: 0 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.product-name {
  font-weight: 700;
}

.card-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/**** CART PAGE ****/

.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-page-h1::after {
  content: "";
  display: block;
  border-bottom: solid #aa0000;
  padding-bottom: 0.5rem;
  width: 140px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 95%;
  max-width: 900px;
  margin-top: 2rem;
}
th, td {
  padding: 0.5rem;
  text-align: left;
}

tr {
  border-bottom: 1px solid black;
}
.quantity-header-cell {
  text-align: center;
}
.quantity-btn-cell {
  text-align: center;
}
.quantity-btn-cell button{
  margin: 0 0.5rem;
}
.cart-total {
  display: flex;
  gap: 50px;
  margin: 2rem 0;
}

/**** CONFIRMATION CONTAINER ****/

.confirmation-container {
  padding: 1rem 2rem;
}

@media (max-width: 425px) {
  :root {
    font-size: 12px;
  }
}